@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    width: 80%;
    margin:auto;
}
.Register{
    margin:10px;
    height: 95vh;
    border-radius: 10px;
    background-color: #21325E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:space-between;
    align-self: stretch;
    color: #fff; 
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;   
    
}
h1{
    font-family: 'Poppins',sans-serif;
}